// Primary Color
$primary: #c09737;

// Dark color
$dark-1: #1c1c1c;
$dark-2: #888888;
$dark-3: #c4c4c4;

// Light Color
$light-1: #c3c3c3;
$light-2: #e5e5e5;

//Font-Sizes
$size-x-small: 12px;
$size-small: 16px;
$size-regular: 18px;
$size-medium: 20px;
$size-larg: 48px;
$size-x-larg: 55px;

//Font-Family
$primary-light: "ovo  regular";
$primary-regular: "Montserrat Regular";
$primary-italic: "Montserrat Italic";
$primary-medium: "Montserrat Medium";
$primary-SemiBold: "Montserrat Semibold";
$primary-bold: "Montserrat Bold";

// Breakpoint
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Black & White
$black: #000000;
$white: #ffffff;
