.button {
	color: $white;
	border-radius: 3px;
	background-color: $primary;
	padding: 16px 27px;
	cursor: pointer;

	&:hover {
		text-decoration: none;
		color: $white;
		background-color: $dark-1;
	}

	@include for-size(tablet-portrait-down) {
		padding: 13px 27px;
	}
}
