.button {
	color: $white;
	border-radius: 3px;
	background-color: $primary;
	padding: 16px 27px;
	cursor: pointer;

	&:hover {
		text-decoration: none;
		color: $white;
		background-color: $dark-1;
	}
}
