input,
textarea {
	border-bottom: 1px solid $light-2;
	padding-bottom: 18px;
	color: $dark-1;
	margin-bottom: 37px;
	margin-top: 20px;

	&:focus {
		border-color: $dark-2;
	}

	@include input-placeholder {
		color: $dark-3;
	}
}
