/*=== Import Fonts ===*/
@include font-face($primary-light, $primary-light-path);
@include font-face($primary-regular, $primary-regular-path);
@include font-face($primary-medium, $primary-medium-path);
@include font-face($primary-semibold, $primary-semibold-path);
@include font-face($primary-bold, $primary-bold-path);
@include font-face($secondary-regular, $secondary-regular-path);

/*=== Typography Styling ===*/

body {
	color: $dark-1;
	font-size: $size-small;
	font-family: $primary-regular, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: normal;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $secondary-regular;
}

h1 {
	font-size: $size-x-larg;
	line-height: 1.16;
}

h2 {
	font-size: $size-larg;
	line-height: 1.08;
	letter-spacing: -1.5px;
}

h3 {
	font-family: $primary-bold;
	font-size: $size-medium;
	font-weight: bold;
}

h4 {
	font-size: $size-medium;
	letter-spacing: 0.3px;
}

h5 {
	font-size: $size-regular;
}

h6 {
	font-family: $primary-semibold;
	font-size: $size-x-small;
	line-height: 2.17;
	letter-spacing: 5px;
}

p {
	font-family: $primary-regular;
	font-size: $size-small;
	line-height: 1.63;
}

a,
button {
	font-family: $primary-bold;
	font-size: $size-small;
	font-weight: bold;
	line-height: 1.75;
	color: $primary;

	&:hover {
		text-decoration: none;
		color: $dark-1;
	}

	&.nav-link {
		font-family: $secondary-regular;
		color: $black;

		&:hover {
			color: $primary;
		}
	}
}

input,
textarea {
	font-size: $size-regular;
	font-family: $primary-regular;
	line-height: 1.56;
}

@include for-size(phone-only) {
	h1 {
		font-size: $size-larg;
		line-height: 1.16;
	}

	h2 {
		font-size: $size-medium;
		letter-spacing: 1.5px;
	}

	h3 {
		font-size: $size-regular;
	}

	h4 {
		font-size: $size-regular;
	}

	h5 {
		font-size: $size-small;
	}

	p {
		line-height: 1.4;
	}
}
