//// start options
.all-options{
    display: flex;
    h4{
        border-bottom:4px solid $light-2;
        max-width: 255px;
        line-height: 57px;
    }
    .mini-line:after{
        content: '';
        display: block;
        position: absolute;
        width: 195px;
        height:4px;
        background-color: $primary;
    }
    svg{
        line-height: 30px;
    }
    .first-option{

        path{
            fill:$primary;
        }
        color:$primary;
        p{
            color:$dark-2;
        }
    }
        .second-option,.three-option{
            h4{
                margin-top: 4.5px;
            }
        }
        @include  for-size(desktop-down){
            .mini-line:after{
                width: 160px;
            }
        }
        @include  for-size(tablet-landscape-down) {
            h4{
                font-size: 15px;
            }
            .mini-line:after{
                width: 110px;
            }
        }
        @include  for-size(tablet-portrait-down) {
            .mini-line:after{
                width: 75px;
            }
            .second-option,.three-option{
                h4{
                    margin-top: 14px;
                }
            }
            .first-option,.four-option{
                h4{
                    margin-top: 8.7px;
                }
            }
            h4{
                font-size: 17px;
                line-height: 24px;
            }
            p{
                line-height: 1.25;
            }
        }
        @include  for-size(phone-only) {
            display: block;
            text-align: center;
            .mini-line:after{
                width: 195px;
            }
            .option{
                text-align: -moz-center;
            }
          .first-option{
                p{
                    max-width:260px;
                    margin: 0 auto;
                }
            }
            .second-option,.three-option,.four-option{
                height:100px;
            }

        }
}
//// end options

///// start owning business
.owning-business{
    display: flex;
    .two-pics{
        display: flex;
    }
    .text-owning-business{
        margin-left: 93px;
        p{
            max-width: 388px;
            color:$dark-2;
            margin-top: 33px;
            margin-bottom: 40px;
        }
        }
        h2{
            max-width: 401px;
        }
        .button{
            padding: 16px 34px;
        }

    @include  for-size(tablet-portrait-down) {
        display: block;
    
    .text-owning-business{
        margin-left: auto;
        text-align: center;
        margin-top: 20px;
        h2,p{
            max-width: 700px;
        }
    }
    }
    @include  for-size(tablet-portrait-down) {
        img{
            height:350px;
            display: block;
            margin: 0 auto;
        }
}
}
////// end owning business

//// start we indentify
.we-indentify{
    background-image: url("../img/backgrounds/section.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
    display: flex;
    align-items: center;
    margin-top: 80px;
    padding-top:103px;
    padding-bottom: 124px;
    .text-we-indentify{
        align-items: center;
        h2,p{
            color: $white;
            max-width:552px;
        }
    }
    @include for-size(phone-only){
        margin-top: 40px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
 
}